In [1]:
n = 42

In [2]:
42 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3090476294.py, line 1)

In [ ]:
x = y = 1

In [ ]:
x = y = 1;

In [ ]:
x = y = 1.

In [1]:
xy

NameError: name 'xy' is not defined

In [3]:
import math

In [15]:
x = 24.95 * (1-0.4) * 60
y = 3 + 0.75*59
t = x + y
print(t)

945.4499999999999

In [1]:
from datetime import datetime, timedelta

start_time_str = "06:52"
start_time = datetime.strptime(start_time_str, "%H:%M")

easy_pace = timedelta(minutes=8, seconds=15)
tempo_pace = timedelta(minutes=7, seconds=12)

total_run_time = 1 * easy_pace + 3 * tempo_pace + 1 * easy_pace

finish_time = start_time + total_run_time

print("You will get home at:", finish_time.strftime("%I:%M %p"))

You will get home at: 07:30 AM

In [1]:
word = "banana"
count_a = word.count("a")
print(count_a)

3

In [3]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("racecar")) 
print(is_palindrome("hello"))

True
False

In [ ]:
def any_lowercase1(s):
    for c in s:
        if c.islower():
            return True
        else:
            return False

only checks the first character

In [7]:
def any_lowercase2(s):
    for c in s:
        if 'c'.islower():
            return 'True'
        else:
            return 'False'

'c'.islower() always returns True because it checks the literal character 'c', not c from the loop.

In [9]:
def any_lowercase3(s):
    for c in s:
        flag = c.islower()
    return flag

flag keeps updating in every loop iteration, storing the result for the last character only.

In [11]:
def any_lowercase4(s):
    flag = False
    for c in s:
        flag = flag or c.islower()
    return flag

This function checks if all characters are lowercase.

In [13]:
def any_lowercase5(s):
    for c in s:
        if not c.islower():
            return False
    return True

In [15]:
def rotate_word(word, shift):
    rotated = ""
    for char in word:
        if char.isalpha(): 
            start = ord('A') if char.isupper() else ord('a')
            new_char = chr(start + (ord(char) - start + shift) % 26)
            rotated += new_char
        else:
            rotated += char  
    return rotated

print(rotate_word("cheer", 7))  
print(rotate_word("melon", -10)) 
print(rotate_word("IBM", -1))

jolly
cubed
HAL